// -----------------------------------------------------------
// DEPENDENCIAS
// -----------------------------------------------------------
@use 'sass:map';
@use '../../2-tools/functions' as func;
@use '../../2-tools/mixins' as mix;
@use '../../1-settings/options' as mapOpt;
@use '../../1-settings/opt-colors' as colorMap;
@use '../../1-settings/opt-typography' as typoMap;
@use '../../1-settings/opt-breakpoints' as break;

// -----------------------------------------------------------
// ESTILO BASE
// -----------------------------------------------------------
$style-key: 'overline';

// -----------------------------------------------------------
// COMPONENTE ATOM LANG NAV
// -----------------------------------------------------------
.atom-pill-card--base, .atom-pill-card--hover {
    
    $mobile-style: map.get(typoMap.$typography-mobile-styles, $style-key);

    // Estilos texto
    font-family: map.get($mobile-style, 'font-family');
    font-weight: map.get(mapOpt.$opt-font-weights, 'semi-bold');
    font-size: func.to-rem(map.get($mobile-style, 'font-size'));
    line-height: func.to-rem(map.get($mobile-style, 'line-height'));
    letter-spacing: map.get(mapOpt.$opt-font-spacing, tight);

    // Estilos visuales
    display: flex;
    align-items: center;

    // Estilos interacción


    .material-icons{
        display: none;
    }

    // --- TABLET ---
    @media (min-width: map.get(break.$opt-breakpoints, tablet)) {
        $tablet-style: map.get(typoMap.$typography-tablet-styles, $style-key);
        
        // Estilos texto LAPTOP
        font-size: func.to-rem(map.get($tablet-style, 'font-size'));
        line-height: func.to-rem(map.get($tablet-style, 'line-height'));

        // Estilos visuales
        gap: map.get(mapOpt.$opt-dimensions, 40);

        .material-icons{
            display: inline;
            font-size: map.get(mapOpt.$opt-dimensions, 100);
        }

    }
    // --- LAPTOP ---
    @media (min-width: map.get(break.$opt-breakpoints, laptop)) {
        $laptop-style: map.get(typoMap.$typography-laptop-styles, $style-key);
        
        // Estilos texto LAPTOP
        font-size: func.to-rem(map.get($laptop-style, 'font-size'));
        line-height: func.to-rem(map.get($laptop-style, 'line-height'));

        // Estilos visuales
        gap: map.get(mapOpt.$opt-dimensions, 50);

        .material-icons{
            font-size: map.get(mapOpt.$opt-dimensions, 110);
        }
    
    }
    // --- DESKTOP ---
    @media (min-width: map.get(break.$opt-breakpoints, desktop)) {
        $desktop-style: map.get(typoMap.$typography-desktop-styles, $style-key);
        
        // Estilos texto LAPTOP
        font-size: func.to-rem(map.get($desktop-style, 'font-size'));
        line-height: func.to-rem(map.get($desktop-style, 'line-height'));

        // Estilos visuales
        gap: map.get(mapOpt.$opt-dimensions, 60);

        .material-icons{
            font-size: map.get(mapOpt.$opt-dimensions, 120);
        }

    }
}