// -----------------------------------------------------------
// DEPENDENCIAS
// -----------------------------------------------------------
@use 'sass:map';
@use '../../2-tools/functions' as func;
@use '../../2-tools/mixins' as mix;
@use '../../1-settings/options' as mapOpt;
@use '../../1-settings/opt-colors' as colorMap;
@use '../../1-settings/opt-typography' as typoMap;
@use '../../1-settings/opt-breakpoints' as break;

// -----------------------------------------------------------
// ESTILO BASE
// -----------------------------------------------------------
$style-key: 'headlines-regular-h6';

// -----------------------------------------------------------
// COMPONENTE ATOM LANG NAV
// -----------------------------------------------------------
.atom-lang-nav {
    a {

        $mobile-style: map.get(typoMap.$typography-laptop-styles, $style-key);

        // Estilos texto
        font-family: map.get($mobile-style, 'font-family');
        font-weight: map.get($mobile-style, 'semi-bold');
        font-size: func.to-rem(map.get($mobile-style, 'font-size'));
        line-height: func.to-rem(map.get($mobile-style, 'line-height'));
        letter-spacing: map.get(mapOpt.$opt-font-spacing, normal);

        // Estilos visuales
        width: map.get(mapOpt.$opt-dimensions, 90);
        aspect-ratio: 1 / 1;
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
        cursor: pointer;
        color: map.get(colorMap.$opt-colors, 'base', 'white'); 
        background: map.get(colorMap.$opt-colors, 'base', 'black');
        border-radius: map.get(mapOpt.$opt-radius, 100);
        padding: map.get(mapOpt.$opt-dimensions, 60) map.get(mapOpt.$opt-dimensions, 60);
        white-space: nowrap;
        // ---- Tendré que personalizarlo para cada resolución
        position: fixed;
        top: func.to-rem(map.get(mapOpt.$opt-dimensions, 70));
        right: 16px;
        z-index: 1000000001;

        // Estilos interacción
        text-decoration: none;
        transition: color map.get(mapOpt.$opt-movement-duration, medium) map.get(mapOpt.$opt-movement-easing, in-out);

        &:active {
            // --- TABLET ---
            @media (min-width: map.get(break.$opt-breakpoints, tablet)) {
                transform: translate(map.get(mapOpt.$opt-dimensions, 20), map.get(mapOpt.$opt-dimensions, 20));
            }
        }

        // --- TABLET ---
        @media (min-width: map.get(break.$opt-breakpoints, tablet)) {
            $tablet-style: map.get(typoMap.$typography-tablet-styles, $style-key);
        
            // Estilos texto TABLET
            font-size: func.to-rem(map.get($tablet-style, 'font-size'));
            line-height: func.to-rem(map.get($tablet-style, 'line-height'));
            width: map.get(mapOpt.$opt-dimensions, 210);
            padding:0;
            position: fixed;

            // Estilos visuales
            // ---- Tendré que personalizarlo para cada resolución
            top: func.to-rem(map.get(mapOpt.$opt-dimensions, 160));
            right: func.to-rem(map.get(mapOpt.$opt-dimensions, 160));

        }

        // --- LAPTOP ---
        @media (min-width: map.get(break.$opt-breakpoints, laptop)) {
            $laptop-style: map.get(typoMap.$typography-laptop-styles, $style-key);
        
            // Estilos texto LAPTOP
            font-size: func.to-rem(map.get($laptop-style, 'font-size'));
            line-height: func.to-rem(map.get($laptop-style, 'line-height'));
            width: map.get(mapOpt.$opt-dimensions, 255);

            // Estilos visuales
            // ---- Tendré que personalizarlo para cada resolución
            top: func.to-rem(map.get(mapOpt.$opt-dimensions, 180));
            right: func.to-rem(map.get(mapOpt.$opt-dimensions, 180));

        }

        // --- DESKTOP ---
        @media (min-width: map.get(break.$opt-breakpoints, desktop)) {
            $desktop-style: map.get(typoMap.$typography-desktop-styles, $style-key);

            // Estilos texto LAPTOP
            font-size: func.to-rem(map.get($desktop-style, 'font-size'));
            line-height: func.to-rem(map.get($desktop-style, 'line-height'));
            width: map.get(mapOpt.$opt-dimensions, 275);

            // Estilos visuales
            // ---- Tendré que personalizarlo para cada resolución
            top: func.to-rem(map.get(mapOpt.$opt-dimensions, 200));
            right: func.to-rem(map.get(mapOpt.$opt-dimensions, 200));

        }
    }

    &--eng a, &--esp a  {
        
        // Configuraciones de la imagen de fondo (preparación)
        background-repeat: no-repeat;
        background-position: center;
        background-size:cover;

    }
    &--eng a:hover {
        
        color: transparent;
        background-image: url('../assets/images/flags/GB.png');
        
    }

    &--esp a:hover {
        
        color: transparent;
        background-image: url('../assets/images/flags/ES.png');
        
    }
}