// -----------------------------------------------------------
// DEPENDENCIAS
// -----------------------------------------------------------
@use 'sass:map';
@use '../../2-tools/functions' as func;
@use '../../2-tools/mixins' as mix;
@use '../../1-settings/options' as mapOpt;
@use '../../1-settings/opt-colors' as colorMap;
@use '../../1-settings/opt-typography' as typoMap;
@use '../../1-settings/opt-breakpoints' as break;

// -----------------------------------------------------------
// ESTILO BASE
// -----------------------------------------------------------
$style-key: 'button-s';

// -----------------------------------------------------------
// COMPONENTE ATOM LINK NAV
// -----------------------------------------------------------
.btn {

    $mobile-style: map.get(typoMap.$typography-mobile-styles, $style-key);

    // Estilos texto
    text-decoration: none;
    font-family: map.get($mobile-style, 'font-family');
    font-weight: map.get($mobile-style, 'font-weight');
    letter-spacing: map.get($mobile-style, 'letter-spacing');

    // Estilos visuales
    display: inline-flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    color: map.get(colorMap.$opt-colors, 'base', 'white');
    background-color: map.get(colorMap.$opt-colors, 'neutral', '900');
    border: none;

    // -----------------------------------------------------------
    // ESTADOS
    // -----------------------------------------------------------
    // Hover (Puntero encima)

    &:hover {
        color: map.get(colorMap.$opt-colors, 'primary', '50');
        background-color: map.get(colorMap.$opt-colors, 'primary', '400');
    }

    // Active (Click presionado)
    &:active {
        color: map.get(colorMap.$opt-colors, 'base', 'black');
        background-color: map.get(colorMap.$opt-colors, 'neutral', '300');
        transform: translate(map.get(mapOpt.$opt-dimensions, 20), map.get(mapOpt.$opt-dimensions, 20));
    }

    // Disabled (Deshabilitado / No clickable)
    &:disabled {
        cursor: not-allowed;
        background-color: map.get(colorMap.$opt-colors, 'neutral', '200');
        color: map.get(colorMap.$opt-colors, 'neutral', '400');
        pointer-events: none;
    }

    // -----------------------------------------------------------
    // Tamaños + Responsive
    // -----------------------------------------------------------
    &--nav {
        $laptop-style: map.get(typoMap.$typography-laptop-styles, $style-key);
        
        // Estilos texto MOBILE
        font-size: func.to-rem(map.get($laptop-style, 'font-size'));
        line-height: func.to-rem(map.get($laptop-style, 'line-height'));

        // Estilos visuales MOBILE
        display: flex;
        width: 100%;
        border-radius: map.get(mapOpt.$opt-radius, 40);
        padding: map.get(mapOpt.$opt-dimensions, 60) map.get(mapOpt.$opt-dimensions, 0);

        // --- TABLET ---
        @media (min-width: map.get(break.$opt-breakpoints, tablet)) {
            $tablet-style: map.get(typoMap.$typography-tablet-styles, $style-key);

            // Estilos texto TABLET
            font-size: func.to-rem(map.get($tablet-style, 'font-size'));
            line-height: func.to-rem(map.get($tablet-style, 'line-height'));

            // Estilos visuales TABLET
            display: inline-block;
            width: auto;
            padding: map.get(mapOpt.$opt-dimensions, 50) map.get(mapOpt.$opt-dimensions, 90);
        }

        // --- LAPTOP ---
        @media (min-width: map.get(break.$opt-breakpoints, laptop)) {
            $laptop-style: map.get(typoMap.$typography-laptop-styles, $style-key);

            // Estilos texto LAPTOP
            font-size: func.to-rem(map.get($laptop-style, 'font-size'));
            line-height: func.to-rem(map.get($laptop-style, 'line-height'));

            // Estilos visuales LAPTOP
            padding: map.get(mapOpt.$opt-dimensions, 60) map.get(mapOpt.$opt-dimensions, 100);
        }

        // --- DESKTOP ---
        @media (min-width: map.get(break.$opt-breakpoints, desktop)) {
            $desktop-style: map.get(typoMap.$typography-desktop-styles, $style-key);

            // Estilos texto DESKTOP
            font-size: func.to-rem(map.get($desktop-style, 'font-size'));
            line-height: func.to-rem(map.get($desktop-style, 'line-height'));

            // Estilos visuales DESKTOP
            padding: map.get(mapOpt.$opt-dimensions, 70) map.get(mapOpt.$opt-dimensions, 120);
        }
    }
}