<!DOCTYPE html>
<html lang="es" dir="ltr">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="icon" type="image/x-icon" href="../../assets/images/web_images/branding/favicon_io/favicon.ico">
        
        <title>organism-nav | Component</title>
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        <script src="../../assets/js/main.js" defer></script>
        <link rel="stylesheet" href="../../scss/styles.css">
    </head>

    <body>
                
        <!-- Componente organism-card -->
        <section class="organism-card">

            <article class="molecule-card--bg 
                            molecule-card--rectangle-vertical 
                            molecule-card--hover">

                <!-- Componente atom-pill-card -->
                <div class="atom-pill-card">
                    <span class="atom-pill-card--base
                                 material-icons">arrow_outward</span>

                    <span class="atom-pill-card--hover
                             atom-pill--text">Article</span>
                    <span class="atom-pill-card--hover
                             material-icons">
                        arrow_forward
                    </span>
                </div>
                <!-- /. Componente atom-pill-card -->
            
                <div class="molecule-card__content">
                    <h3 class="atom-card-title">Título de la Card</h3>
                    <p class="atom-card-subtitle">Subtítulo descriptivo</p>
                </div>

                <div class="molecule-card__bg">
                    <img src="tu-imagen.jpg" alt="Descripción">
                </div>

                <div class="molecule-card__hover">
                    <p>Lee más sobre este contenido exclusivo.</p>
                </div>
                

            </article>
        
        </section>


    </body>
</html>