<!DOCTYPE html>
<html lang="es" dir="ltr">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="icon" type="image/x-icon" href="../../assets/images/web_images/branding/favicon_io/favicon.ico">
        
        <title>organism-nav | Component</title>
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        <script src="../../assets/js/main.js" defer></script>
        <link rel="stylesheet" href="../../scss/styles.css">
    </head>

    <body>
                
        <!-- Componente organism-nav -->
        <header class="organism-nav">

            <button class="nav-toggle" aria-label="Abrir menú">
                <span class="hamburger"></span>
            </button>

            <div class="molecule-logo-nav">
                <h1> <!-- Este h1 es solo para la home del sitio, eliminar en el resto de páginas -->
                    <!-- Componente atom-logo-nav -->
                    <a  href="#" 
                        target="_bank"
                        rel="noopener"
                        class="atom-logo-nav">
                        <span class="atom-logo-nav--name">ThisIsDesign</span>
                        <span class="atom-logo-nav--iso">TID</span>
                    </a>
                    <!-- FIN Componente atom-logo-nav -->
                </h1>
            </div>
            <!-- FIN Componente molecule-logo-nav -->

            <!-- Componente molecule-link-nav -->
            <nav class="molecule-link-nav" aria-label="Navegación principal">
                <ul>
                    <li>
                        <!-- Componente atom-link-nav -->
                        <a  href="#" 
                            class="atom-link-nav">
                            Artículos
                        </a>
                        <!-- FIN Componente atom-link-nav -->
                    </li>
                    <li>
                        <!-- Componente atom-link-nav -->
                        <a  href="#" 
                            class="atom-link-nav">
                            Entrevistas
                        </a>
                        <!-- FIN Componente atom-link-nav -->
                    </li>
                    <li>
                        <!-- Componente atom-link-nav -->
                        <a  href="#" 
                            class="atom-link-nav">
                            Podcast
                        </a>
                        <!-- FIN Componente atom-link-nav -->
                    </li>
                    <li>
                        <!-- Componente atom-link-nav -->
                        <a  href="#" 
                            class="atom-link-nav">
                            Sobre mi
                        </a>
                        <!-- FIN Componente atom-link-nav -->
                    </li>
                </ul>
                <!-- Componente atom-button-base Small -->
                <a href="#" class="btn btn--nav">Contacto</a>
                <!-- FIN Componente atom-button-base Small -->
            </nav>

        </header>
        <nav class="atom-lang-nav atom-lang-nav--eng" aria-label="Selección de idioma">
            <a  href="#" hreflang="en">En.</a>
        </nav>
        <!-- FIN Componente organism-nav -->

        <h1>sdfs</h1>
        <h1>sdfs</h1>
        <h1>sdfs</h1>
        <h1>sdfs</h1>
        <h1>sdfs</h1>
        <h1>sdfs</h1>
        <h1>sdfs</h1>
        <h1>sdfs</h1>
        <h1>sdfs</h1>
        <h1>sdfs</h1>
        <h1>sdfs</h1>
        <h1>sdfs</h1>
        <h1>sdfs</h1>
        <h1>sdfs</h1>
        <h1>sdfs</h1>
        <h1>sdfs</h1>
        <h1>sdfs</h1>
        <h1>sdfs</h1>
        <h1>sdfs</h1>
        <h1>sdfs</h1>
        <h1>sdfs</h1>
        <h1>sdfs</h1><h1>sdfs</h1>
        
        <h1>sdfs</h1>
        <h1>sdfs</h1>
        <h1>sdfs</h1>
        <h1>sdfs</h1>
        <h1>sdfs</h1>
        <h1>sdfs</h1>
        <h1>sdfs</h1>
        <h1>sdfs</h1>
        <h1>sdfs</h1>
        <h1>sdfs</h1>
        <h1>sdfs</h1>
        <h1>sdfs</h1>
        <h1>sdfs</h1><h1>sdfs</h1>

    </body>
</html>