// -----------------------------------------------------------
// DEPENDENCIAS
// -----------------------------------------------------------
@use 'sass:map';
@use'options' as typo; // Para valores tipográficos

// -----------------------------------------------------------
// OPT TYPOGRAPHY MOBILE STYLES
// -----------------------------------------------------------
$typography-mobile-styles: (
    'headlines-super-h1': (
        'font-family': map.get(typo.$opt-font-families, 'primary'),
        'font-size': map.get(typo.$opt-font-sizes, '106'),
        'line-height': map.get(typo.$opt-font-sizes, '96'),
        'font-weight': map.get(typo.$opt-font-weights, 'black'),
        'letter-spacing': map.get(typo.$opt-font-spacing, 'tight'),
    ),
    'headlines-super-h2': (
        'font-family': map.get(typo.$opt-font-families, 'primary'),
        'font-size': map.get(typo.$opt-font-sizes, '74'),
        'line-height': map.get(typo.$opt-font-sizes, '68'),
        'font-weight': map.get(typo.$opt-font-weights, 'black'),
        'letter-spacing': map.get(typo.$opt-font-spacing, 'tight'),
    ),
    'headlines-super-h3': (
        'font-family': map.get(typo.$opt-font-families, 'primary'),
        'font-size': map.get(typo.$opt-font-sizes, '54'),
        'line-height': map.get(typo.$opt-font-sizes, '48'),
        'font-weight': map.get(typo.$opt-font-weights, 'black'),
        'letter-spacing': map.get(typo.$opt-font-spacing, 'tight'),
    ),
    'headlines-regular-h1': (
        'font-family': map.get(typo.$opt-font-families, 'primary'),
        'font-size': map.get(typo.$opt-font-sizes, '54'),
        'line-height': map.get(typo.$opt-font-sizes, '74'),
        'font-weight': map.get(typo.$opt-font-weights, 'bold'),
         'letter-spacing': map.get(typo.$opt-font-spacing, 'normal'),
    ),
    'headlines-regular-h2': (
        'font-family': map.get(typo.$opt-font-families, 'primary'),
        'font-size': map.get(typo.$opt-font-sizes, '38'),
        'line-height': map.get(typo.$opt-font-sizes, '52'),
        'font-weight': map.get(typo.$opt-font-weights, 'bold'),
         'letter-spacing': map.get(typo.$opt-font-spacing, 'normal'),
    ),
    'headlines-regular-h3': (
        'font-family': map.get(typo.$opt-font-families, 'primary'),
        'font-size': map.get(typo.$opt-font-sizes, '26'),
        'line-height': map.get(typo.$opt-font-sizes, '36'),
        'font-weight': map.get(typo.$opt-font-weights, 'bold'),
        'letter-spacing': map.get(typo.$opt-font-spacing, 'normal'),
    ),
    'headlines-regular-h4': (
        'font-family': map.get(typo.$opt-font-families, 'primary'),
        'font-size': map.get(typo.$opt-font-sizes, '18'),
        'line-height': map.get(typo.$opt-font-sizes, '24'),
        'font-weight': map.get(typo.$opt-font-weights, 'bold'),
        'letter-spacing': map.get(typo.$opt-font-spacing, 'normal'),
    ),
    'headlines-regular-h5': (
        'font-family': map.get(typo.$opt-font-families, 'primary'),
        'font-size': map.get(typo.$opt-font-sizes, '12'),
        'line-height': map.get(typo.$opt-font-sizes, '18'),
        'font-weight': map.get(typo.$opt-font-weights, 'bold'),
        'letter-spacing': map.get(typo.$opt-font-spacing, 'normal'),
    ),
    'headlines-regular-h6': (
        'font-family': map.get(typo.$opt-font-families, 'primary'),
        'font-size': map.get(typo.$opt-font-sizes, '12'),
        'line-height': map.get(typo.$opt-font-sizes, '18'),
        'font-weight': map.get(typo.$opt-font-weights, 'bold'),
        'letter-spacing': map.get(typo.$opt-font-spacing, 'normal'),
    ),'subtitle-content-subtitle-1': (
        'font-family': map.get(typo.$opt-font-families, 'secondary'),
        'font-size': map.get(typo.$opt-font-sizes, '38'),
        'line-height': map.get(typo.$opt-font-sizes, '42'),
        'font-weight': map.get(typo.$opt-font-weights, 'semi-bold'),
        'letter-spacing': map.get(typo.$opt-font-spacing, 'normal'),
    ),
    'subtitle-content-subtitle-2': (
        'font-family': map.get(typo.$opt-font-families, 'secondary'),
        'font-size': map.get(typo.$opt-font-sizes, '26'),
        'line-height': map.get(typo.$opt-font-sizes, '30'),
        'font-weight': map.get(typo.$opt-font-weights, 'semi-bold'),
        'letter-spacing': map.get(typo.$opt-font-spacing, 'normal'),
    ),
    'subtitle-content-subtitle-3': (
        'font-family': map.get(typo.$opt-font-families, 'secondary'),
        'font-size': map.get(typo.$opt-font-sizes, '18'),
        'line-height': map.get(typo.$opt-font-sizes, '20'),
        'font-weight': map.get(typo.$opt-font-weights, 'semi-bold'),
        'letter-spacing': map.get(typo.$opt-font-spacing, 'normal'),
    ),'subtitle-title-subtitle-1': (
        'font-family': map.get(typo.$opt-font-families, 'primary'),
        'font-size': map.get(typo.$opt-font-sizes, '38'),
        'line-height': map.get(typo.$opt-font-sizes, '42'),
        'font-weight': map.get(typo.$opt-font-weights, 'semi-bold'),
        'letter-spacing': map.get(typo.$opt-font-spacing, 'normal'),
    ),
    'subtitle-title-subtitle-2': (
        'font-family': map.get(typo.$opt-font-families, 'primary'),
        'font-size': map.get(typo.$opt-font-sizes, '26'),
        'line-height': map.get(typo.$opt-font-sizes, '30'),
        'font-weight': map.get(typo.$opt-font-weights, 'semi-bold'),
        'letter-spacing': map.get(typo.$opt-font-spacing, 'normal'),
    ),
    'subtitle-title-subtitle-3': (
        'font-family': map.get(typo.$opt-font-families, 'primary'),
        'font-size': map.get(typo.$opt-font-sizes, '18'),
        'line-height': map.get(typo.$opt-font-sizes, '20'),
        'font-weight': map.get(typo.$opt-font-weights, 'semi-bold'),
        'letter-spacing': map.get(typo.$opt-font-spacing, 'normal'),
    ),
    'subtitle-title-subtitle-4': (
        'font-family': map.get(typo.$opt-font-families, 'primary'),
        'font-size': map.get(typo.$opt-font-sizes, '12'),
        'line-height': map.get(typo.$opt-font-sizes, '14'),
        'font-weight': map.get(typo.$opt-font-weights, 'semi-bold'),
        'letter-spacing': map.get(typo.$opt-font-spacing, 'normal'),
    ),
    'body-content-body-1': (
        'font-family': map.get(typo.$opt-font-families, 'secondary'),
        'font-size': map.get(typo.$opt-font-sizes, '20'),
        'line-height': map.get(typo.$opt-font-sizes, '28'),
        'font-weight': map.get(typo.$opt-font-weights, 'regular'),
        'letter-spacing': map.get(typo.$opt-font-spacing, 'normal'),
    ),
    'body-content-body-2': (
        'font-family': map.get(typo.$opt-font-families, 'secondary'),
        'font-size': map.get(typo.$opt-font-sizes, '14'),
        'line-height': map.get(typo.$opt-font-sizes, '20'),
        'font-weight': map.get(typo.$opt-font-weights, 'regular'),
        'letter-spacing': map.get(typo.$opt-font-spacing, 'normal'),
    ),
    'body-content-body-3': (
        'font-family': map.get(typo.$opt-font-families, 'secondary'),
        'font-size': map.get(typo.$opt-font-sizes, '10'),
        'line-height': map.get(typo.$opt-font-sizes, '14'),
        'font-weight': map.get(typo.$opt-font-weights, 'regular'),
        'letter-spacing': map.get(typo.$opt-font-spacing, 'normal'),
    ),
    'body-title-body-1': (
        'font-family': map.get(typo.$opt-font-families, 'primary'),
        'font-size': map.get(typo.$opt-font-sizes, '20'),
        'line-height': map.get(typo.$opt-font-sizes, '28'),
        'font-weight': map.get(typo.$opt-font-weights, 'regular'),
        'letter-spacing': map.get(typo.$opt-font-spacing, 'normal'),
    ),
    'body-title-body-2': (
        'font-family': map.get(typo.$opt-font-families, 'primary'),
        'font-size': map.get(typo.$opt-font-sizes, '14'),
        'line-height': map.get(typo.$opt-font-sizes, '20'),
        'font-weight': map.get(typo.$opt-font-weights, 'regular'),
        'letter-spacing': map.get(typo.$opt-font-spacing, 'normal'),
    ),
    'body-title-body-3': (
        'font-family': map.get(typo.$opt-font-families, 'primary'),
        'font-size': map.get(typo.$opt-font-sizes, '10'),
        'line-height': map.get(typo.$opt-font-sizes, '14'),
        'font-weight': map.get(typo.$opt-font-weights, 'regular'),
        'letter-spacing': map.get(typo.$opt-font-spacing, 'normal'),
    ),
    'body-title-4': (
        'font-family': map.get(typo.$opt-font-families, 'primary'),
        'font-size': map.get(typo.$opt-font-sizes, '10'),
        'line-height': map.get(typo.$opt-font-sizes, '14'),
        'font-weight': map.get(typo.$opt-font-weights, 'regular'),
        'letter-spacing': map.get(typo.$opt-font-spacing, 'normal'),
    ),
    'caption': (
        'font-family': map.get(typo.$opt-font-families, 'primary'),
        'font-size': map.get(typo.$opt-font-sizes, '10'),
        'line-height': map.get(typo.$opt-font-sizes, '14'),
        'font-weight': map.get(typo.$opt-font-weights, 'medium'),
        'letter-spacing': map.get(typo.$opt-font-spacing, 'normal'),
    ),
    'overline': (
        'font-family': map.get(typo.$opt-font-families, 'primary'),
        'font-size': map.get(typo.$opt-font-sizes, '10'),
        'line-height': map.get(typo.$opt-font-sizes, '14'),
        'font-weight': map.get(typo.$opt-font-weights, 'medium'),
        'letter-spacing': map.get(typo.$opt-font-spacing, 'normal'),
    ),
    'button-l': (
        'font-family': map.get(typo.$opt-font-families, 'primary'),
        'font-size': map.get(typo.$opt-font-sizes, '16'),
        'line-height': map.get(typo.$opt-font-sizes, '22'),
        'font-weight': map.get(typo.$opt-font-weights, 'semi-bold'),
        'letter-spacing': map.get(typo.$opt-font-spacing, 'normal'),
    ),
    'button-m': (
        'font-family': map.get(typo.$opt-font-families, 'primary'),
        'font-size': map.get(typo.$opt-font-sizes, '14'),
        'line-height': map.get(typo.$opt-font-sizes, '20'),
        'font-weight': map.get(typo.$opt-font-weights, 'semi-bold'),
        'letter-spacing': map.get(typo.$opt-font-spacing, 'normal'),
    ),
    'button-s': (
        'font-family': map.get(typo.$opt-font-families, 'primary'),
        'font-size': map.get(typo.$opt-font-sizes, '12'),
        'line-height': map.get(typo.$opt-font-sizes, '18'),
        'font-weight': map.get(typo.$opt-font-weights, 'semi-bold'),
        'letter-spacing': map.get(typo.$opt-font-spacing, 'normal'),
    )
);
// -----------------------------------------------------------
// OPT TYPOGRAPHY TABLET STYLES
// -----------------------------------------------------------
$typography-tablet-styles: (
    'headlines-super-h1': (
        'font-family': map.get(typo.$opt-font-families, 'primary'),
        'font-size': map.get(typo.$opt-font-sizes, '126'),
        'line-height': map.get(typo.$opt-font-sizes, '112'),
        'font-weight': map.get(typo.$opt-font-weights, 'black'),
        'letter-spacing': map.get(typo.$opt-font-spacing, 'tight'),
    ),
    'headlines-super-h2': (
        'font-family': map.get(typo.$opt-font-families, 'primary'),
        'font-size': map.get(typo.$opt-font-sizes, '88'),
        'line-height': map.get(typo.$opt-font-sizes, '74'),
        'font-weight': map.get(typo.$opt-font-weights, 'black'),
        'letter-spacing': map.get(typo.$opt-font-spacing, 'tight'),
    ),
    'headlines-super-h3': (
        'font-family': map.get(typo.$opt-font-families, 'primary'),
        'font-size': map.get(typo.$opt-font-sizes, '62'),
        'line-height': map.get(typo.$opt-font-sizes, '26'),
        'font-weight': map.get(typo.$opt-font-weights, 'black'),
        'letter-spacing': map.get(typo.$opt-font-spacing, 'tight'),
    ),
    'headlines-regular-h1': (
        'font-family': map.get(typo.$opt-font-families, 'primary'),
        'font-size': map.get(typo.$opt-font-sizes, '62'),
        'line-height': map.get(typo.$opt-font-sizes, '86'),
        'font-weight': map.get(typo.$opt-font-weights, 'bold'),
         'letter-spacing': map.get(typo.$opt-font-spacing, 'normal'),
    ),
    'headlines-regular-h2': (
        'font-family': map.get(typo.$opt-font-families, 'primary'),
        'font-size': map.get(typo.$opt-font-sizes, '44'),
        'line-height': map.get(typo.$opt-font-sizes, '60'),
        'font-weight': map.get(typo.$opt-font-weights, 'bold'),
         'letter-spacing': map.get(typo.$opt-font-spacing, 'normal'),
    ),
    'headlines-regular-h3': (
        'font-family': map.get(typo.$opt-font-families, 'primary'),
        'font-size': map.get(typo.$opt-font-sizes, '30'),
        'line-height': map.get(typo.$opt-font-sizes, '42'),
        'font-weight': map.get(typo.$opt-font-weights, 'bold'),
        'letter-spacing': map.get(typo.$opt-font-spacing, 'normal'),
    ),
    'headlines-regular-h4': (
        'font-family': map.get(typo.$opt-font-families, 'primary'),
        'font-size': map.get(typo.$opt-font-sizes, '22'),
        'line-height': map.get(typo.$opt-font-sizes, '28'),
        'font-weight': map.get(typo.$opt-font-weights, 'bold'),
        'letter-spacing': map.get(typo.$opt-font-spacing, 'normal'),
    ),
    'headlines-regular-h5': (
        'font-family': map.get(typo.$opt-font-families, 'primary'),
        'font-size': map.get(typo.$opt-font-sizes, '14'),
        'line-height': map.get(typo.$opt-font-sizes, '20'),
        'font-weight': map.get(typo.$opt-font-weights, 'bold'),
        'letter-spacing': map.get(typo.$opt-font-spacing, 'normal'),
    ),
    'headlines-regular-h6': (
        'font-family': map.get(typo.$opt-font-families, 'primary'),
        'font-size': map.get(typo.$opt-font-sizes, '12'),
        'line-height': map.get(typo.$opt-font-sizes, '18'),
        'font-weight': map.get(typo.$opt-font-weights, 'bold'),
        'letter-spacing': map.get(typo.$opt-font-spacing, 'normal'),
    ),'subtitle-content-subtitle-1': (
        'font-family': map.get(typo.$opt-font-families, 'secondary'),
        'font-size': map.get(typo.$opt-font-sizes, '44'),
        'line-height': map.get(typo.$opt-font-sizes, '48'),
        'font-weight': map.get(typo.$opt-font-weights, 'semi-bold'),
        'letter-spacing': map.get(typo.$opt-font-spacing, 'normal'),
    ),
    'subtitle-content-subtitle-2': (
        'font-family': map.get(typo.$opt-font-families, 'secondary'),
        'font-size': map.get(typo.$opt-font-sizes, '30'),
        'line-height': map.get(typo.$opt-font-sizes, '34'),
        'font-weight': map.get(typo.$opt-font-weights, 'semi-bold'),
        'letter-spacing': map.get(typo.$opt-font-spacing, 'normal'),
    ),
    'subtitle-content-subtitle-3': (
        'font-family': map.get(typo.$opt-font-families, 'secondary'),
        'font-size': map.get(typo.$opt-font-sizes, '22'),
        'line-height': map.get(typo.$opt-font-sizes, '24'),
        'font-weight': map.get(typo.$opt-font-weights, 'semi-bold'),
        'letter-spacing': map.get(typo.$opt-font-spacing, 'normal'),
    ),'subtitle-title-subtitle-1': (
        'font-family': map.get(typo.$opt-font-families, 'primary'),
        'font-size': map.get(typo.$opt-font-sizes, '44'),
        'line-height': map.get(typo.$opt-font-sizes, '48'),
        'font-weight': map.get(typo.$opt-font-weights, 'semi-bold'),
        'letter-spacing': map.get(typo.$opt-font-spacing, 'normal'),
    ),
    'subtitle-title-subtitle-2': (
        'font-family': map.get(typo.$opt-font-families, 'primary'),
        'font-size': map.get(typo.$opt-font-sizes, '30'),
        'line-height': map.get(typo.$opt-font-sizes, '34'),
        'font-weight': map.get(typo.$opt-font-weights, 'semi-bold'),
        'letter-spacing': map.get(typo.$opt-font-spacing, 'normal'),
    ),
    'subtitle-title-subtitle-3': (
        'font-family': map.get(typo.$opt-font-families, 'primary'),
        'font-size': map.get(typo.$opt-font-sizes, '22'),
        'line-height': map.get(typo.$opt-font-sizes, '24'),
        'font-weight': map.get(typo.$opt-font-weights, 'semi-bold'),
        'letter-spacing': map.get(typo.$opt-font-spacing, 'normal'),
    ),
    'subtitle-title-subtitle-4': (
        'font-family': map.get(typo.$opt-font-families, 'primary'),
        'font-size': map.get(typo.$opt-font-sizes, '14'),
        'line-height': map.get(typo.$opt-font-sizes, '16'),
        'font-weight': map.get(typo.$opt-font-weights, 'semi-bold'),
        'letter-spacing': map.get(typo.$opt-font-spacing, 'normal'),
    ),
    'body-content-body-1': (
        'font-family': map.get(typo.$opt-font-families, 'secondary'),
        'font-size': map.get(typo.$opt-font-sizes, '24'),
        'line-height': map.get(typo.$opt-font-sizes, '34'),
        'font-weight': map.get(typo.$opt-font-weights, 'regular'),
        'letter-spacing': map.get(typo.$opt-font-spacing, 'normal'),
    ),
    'body-content-body-2': (
        'font-family': map.get(typo.$opt-font-families, 'secondary'),
        'font-size': map.get(typo.$opt-font-sizes, '18'),
        'line-height': map.get(typo.$opt-font-sizes, '24'),
        'font-weight': map.get(typo.$opt-font-weights, 'regular'),
        'letter-spacing': map.get(typo.$opt-font-spacing, 'normal'),
    ),
    'body-content-body-3': (
        'font-family': map.get(typo.$opt-font-families, 'secondary'),
        'font-size': map.get(typo.$opt-font-sizes, '12'),
        'line-height': map.get(typo.$opt-font-sizes, '18'),
        'font-weight': map.get(typo.$opt-font-weights, 'regular'),
        'letter-spacing': map.get(typo.$opt-font-spacing, 'normal'),
    ),
    'body-title-body-1': (
        'font-family': map.get(typo.$opt-font-families, 'primary'),
        'font-size': map.get(typo.$opt-font-sizes, '24'),
        'line-height': map.get(typo.$opt-font-sizes, '34'),
        'font-weight': map.get(typo.$opt-font-weights, 'regular'),
        'letter-spacing': map.get(typo.$opt-font-spacing, 'normal'),
    ),
    'body-title-body-2': (
        'font-family': map.get(typo.$opt-font-families, 'primary'),
        'font-size': map.get(typo.$opt-font-sizes, '18'),
        'line-height': map.get(typo.$opt-font-sizes, '24'),
        'font-weight': map.get(typo.$opt-font-weights, 'regular'),
        'letter-spacing': map.get(typo.$opt-font-spacing, 'normal'),
    ),
    'body-title-body-3': (
        'font-family': map.get(typo.$opt-font-families, 'primary'),
        'font-size': map.get(typo.$opt-font-sizes, '12'),
        'line-height': map.get(typo.$opt-font-sizes, '18'),
        'font-weight': map.get(typo.$opt-font-weights, 'regular'),
        'letter-spacing': map.get(typo.$opt-font-spacing, 'normal'),
    ),
    'body-title-4': (
        'font-family': map.get(typo.$opt-font-families, 'primary'),
        'font-size': map.get(typo.$opt-font-sizes, '10'),
        'line-height': map.get(typo.$opt-font-sizes, '14'),
        'font-weight': map.get(typo.$opt-font-weights, 'regular'),
        'letter-spacing': map.get(typo.$opt-font-spacing, 'normal'),
    ),
    'caption': (
        'font-family': map.get(typo.$opt-font-families, 'primary'),
        'font-size': map.get(typo.$opt-font-sizes, '10'),
        'line-height': map.get(typo.$opt-font-sizes, '14'),
        'font-weight': map.get(typo.$opt-font-weights, 'medium'),
        'letter-spacing': map.get(typo.$opt-font-spacing, 'normal'),
    ),
    'overline': (
        'font-family': map.get(typo.$opt-font-families, 'primary'),
        'font-size': map.get(typo.$opt-font-sizes, '10'),
        'line-height': map.get(typo.$opt-font-sizes, '14'),
        'font-weight': map.get(typo.$opt-font-weights, 'medium'),
        'letter-spacing': map.get(typo.$opt-font-spacing, 'normal'),
    ),
    'button-l': (
        'font-family': map.get(typo.$opt-font-families, 'primary'),
        'font-size': map.get(typo.$opt-font-sizes, '16'),
        'line-height': map.get(typo.$opt-font-sizes, '22'),
        'font-weight': map.get(typo.$opt-font-weights, 'semi-bold'),
        'letter-spacing': map.get(typo.$opt-font-spacing, 'normal'),
    ),
    'button-m': (
        'font-family': map.get(typo.$opt-font-families, 'primary'),
        'font-size': map.get(typo.$opt-font-sizes, '14'),
        'line-height': map.get(typo.$opt-font-sizes, '20'),
        'font-weight': map.get(typo.$opt-font-weights, 'semi-bold'),
        'letter-spacing': map.get(typo.$opt-font-spacing, 'normal'),
    ),
    'button-s': (
        'font-family': map.get(typo.$opt-font-families, 'primary'),
        'font-size': map.get(typo.$opt-font-sizes, '12'),
        'line-height': map.get(typo.$opt-font-sizes, '18'),
        'font-weight': map.get(typo.$opt-font-weights, 'semi-bold'),
        'letter-spacing': map.get(typo.$opt-font-spacing, 'normal'),
    )
);
// -----------------------------------------------------------
// OPT TYPOGRAPHY LAPTOP STYLES
// -----------------------------------------------------------
$typography-laptop-styles: (
    'headlines-super-h1': (
        'font-family': map.get(typo.$opt-font-families, 'primary'),
        'font-size': map.get(typo.$opt-font-sizes, '156'),
        'line-height': map.get(typo.$opt-font-sizes, '140'),
        'font-weight': map.get(typo.$opt-font-weights, 'black'),
        'letter-spacing': map.get(typo.$opt-font-spacing, 'tight'),
    ),
    'headlines-super-h2': (
        'font-family': map.get(typo.$opt-font-families, 'primary'),
        'font-size': map.get(typo.$opt-font-sizes, '112'),
        'line-height': map.get(typo.$opt-font-sizes, '100'),
        'font-weight': map.get(typo.$opt-font-weights, 'black'),
        'letter-spacing': map.get(typo.$opt-font-spacing, 'tight'),
    ),
    'headlines-super-h3': (
        'font-family': map.get(typo.$opt-font-families, 'primary'),
        'font-size': map.get(typo.$opt-font-sizes, '78'),
        'line-height': map.get(typo.$opt-font-sizes, '70'),
        'font-weight': map.get(typo.$opt-font-weights, 'black'),
        'letter-spacing': map.get(typo.$opt-font-spacing, 'tight'),
    ),
    'headlines-regular-h1': (
        'font-family': map.get(typo.$opt-font-families, 'primary'),
        'font-size': map.get(typo.$opt-font-sizes, '78'),
        'line-height': map.get(typo.$opt-font-sizes, '106'),
        'font-weight': map.get(typo.$opt-font-weights, 'bold'),
         'letter-spacing': map.get(typo.$opt-font-spacing, 'normal'),
    ),
    'headlines-regular-h2': (
        'font-family': map.get(typo.$opt-font-families, 'primary'),
        'font-size': map.get(typo.$opt-font-sizes, '54'),
        'line-height': map.get(typo.$opt-font-sizes, '74'),
        'font-weight': map.get(typo.$opt-font-weights, 'bold'),
         'letter-spacing': map.get(typo.$opt-font-spacing, 'normal'),
    ),
    'headlines-regular-h3': (
        'font-family': map.get(typo.$opt-font-families, 'primary'),
        'font-size': map.get(typo.$opt-font-sizes, '38'),
        'line-height': map.get(typo.$opt-font-sizes, '52'),
        'font-weight': map.get(typo.$opt-font-weights, 'bold'),
        'letter-spacing': map.get(typo.$opt-font-spacing, 'normal'),
    ),
    'headlines-regular-h4': (
        'font-family': map.get(typo.$opt-font-families, 'primary'),
        'font-size': map.get(typo.$opt-font-sizes, '26'),
        'line-height': map.get(typo.$opt-font-sizes, '36'),
        'font-weight': map.get(typo.$opt-font-weights, 'bold'),
        'letter-spacing': map.get(typo.$opt-font-spacing, 'normal'),
    ),
    'headlines-regular-h5': (
        'font-family': map.get(typo.$opt-font-families, 'primary'),
        'font-size': map.get(typo.$opt-font-sizes, '18'),
        'line-height': map.get(typo.$opt-font-sizes, '24'),
        'font-weight': map.get(typo.$opt-font-weights, 'bold'),
        'letter-spacing': map.get(typo.$opt-font-spacing, 'normal'),
    ),
    'headlines-regular-h6': (
        'font-family': map.get(typo.$opt-font-families, 'primary'),
        'font-size': map.get(typo.$opt-font-sizes, '14'),
        'line-height': map.get(typo.$opt-font-sizes, '18'),
        'font-weight': map.get(typo.$opt-font-weights, 'bold'),
        'letter-spacing': map.get(typo.$opt-font-spacing, 'normal'),
    ),'subtitle-content-subtitle-1': (
        'font-family': map.get(typo.$opt-font-families, 'secondary'),
        'font-size': map.get(typo.$opt-font-sizes, '54'),
        'line-height': map.get(typo.$opt-font-sizes, '60'),
        'font-weight': map.get(typo.$opt-font-weights, 'semi-bold'),
        'letter-spacing': map.get(typo.$opt-font-spacing, 'normal'),
    ),
    'subtitle-content-subtitle-2': (
        'font-family': map.get(typo.$opt-font-families, 'secondary'),
        'font-size': map.get(typo.$opt-font-sizes, '38'),
        'line-height': map.get(typo.$opt-font-sizes, '42'),
        'font-weight': map.get(typo.$opt-font-weights, 'semi-bold'),
        'letter-spacing': map.get(typo.$opt-font-spacing, 'normal'),
    ),
    'subtitle-content-subtitle-3': (
        'font-family': map.get(typo.$opt-font-families, 'secondary'),
        'font-size': map.get(typo.$opt-font-sizes, '26'),
        'line-height': map.get(typo.$opt-font-sizes, '30'),
        'font-weight': map.get(typo.$opt-font-weights, 'semi-bold'),
        'letter-spacing': map.get(typo.$opt-font-spacing, 'normal'),
    ),'subtitle-title-subtitle-1': (
        'font-family': map.get(typo.$opt-font-families, 'primary'),
        'font-size': map.get(typo.$opt-font-sizes, '54'),
        'line-height': map.get(typo.$opt-font-sizes, '60'),
        'font-weight': map.get(typo.$opt-font-weights, 'semi-bold'),
        'letter-spacing': map.get(typo.$opt-font-spacing, 'normal'),
    ),
    'subtitle-title-subtitle-2': (
        'font-family': map.get(typo.$opt-font-families, 'primary'),
        'font-size': map.get(typo.$opt-font-sizes, '38'),
        'line-height': map.get(typo.$opt-font-sizes, '42'),
        'font-weight': map.get(typo.$opt-font-weights, 'semi-bold'),
        'letter-spacing': map.get(typo.$opt-font-spacing, 'normal'),
    ),
    'subtitle-title-subtitle-3': (
        'font-family': map.get(typo.$opt-font-families, 'primary'),
        'font-size': map.get(typo.$opt-font-sizes, '26'),
        'line-height': map.get(typo.$opt-font-sizes, '30'),
        'font-weight': map.get(typo.$opt-font-weights, 'semi-bold'),
        'letter-spacing': map.get(typo.$opt-font-spacing, 'normal'),
    ),
    'subtitle-title-subtitle-4': (
        'font-family': map.get(typo.$opt-font-families, 'primary'),
        'font-size': map.get(typo.$opt-font-sizes, '18'),
        'line-height': map.get(typo.$opt-font-sizes, '20'),
        'font-weight': map.get(typo.$opt-font-weights, 'semi-bold'),
        'letter-spacing': map.get(typo.$opt-font-spacing, 'normal'),
    ),
    'body-content-body-1': (
        'font-family': map.get(typo.$opt-font-families, 'secondary'),
        'font-size': map.get(typo.$opt-font-sizes, '28'),
        'line-height': map.get(typo.$opt-font-sizes, '38'),
        'font-weight': map.get(typo.$opt-font-weights, 'regular'),
        'letter-spacing': map.get(typo.$opt-font-spacing, 'normal'),
    ),
    'body-content-body-2': (
        'font-family': map.get(typo.$opt-font-families, 'secondary'),
        'font-size': map.get(typo.$opt-font-sizes, '20'),
        'line-height': map.get(typo.$opt-font-sizes, '28'),
        'font-weight': map.get(typo.$opt-font-weights, 'regular'),
        'letter-spacing': map.get(typo.$opt-font-spacing, 'normal'),
    ),
    'body-content-body-3': (
        'font-family': map.get(typo.$opt-font-families, 'secondary'),
        'font-size': map.get(typo.$opt-font-sizes, '14'),
        'line-height': map.get(typo.$opt-font-sizes, '20'),
        'font-weight': map.get(typo.$opt-font-weights, 'regular'),
        'letter-spacing': map.get(typo.$opt-font-spacing, 'normal'),
    ),
    'body-title-body-1': (
        'font-family': map.get(typo.$opt-font-families, 'primary'),
        'font-size': map.get(typo.$opt-font-sizes, '28'),
        'line-height': map.get(typo.$opt-font-sizes, '38'),
        'font-weight': map.get(typo.$opt-font-weights, 'regular'),
        'letter-spacing': map.get(typo.$opt-font-spacing, 'normal'),
    ),
    'body-title-body-2': (
        'font-family': map.get(typo.$opt-font-families, 'primary'),
        'font-size': map.get(typo.$opt-font-sizes, '20'),
        'line-height': map.get(typo.$opt-font-sizes, '28'),
        'font-weight': map.get(typo.$opt-font-weights, 'regular'),
        'letter-spacing': map.get(typo.$opt-font-spacing, 'normal'),
    ),
    'body-title-body-3': (
        'font-family': map.get(typo.$opt-font-families, 'primary'),
        'font-size': map.get(typo.$opt-font-sizes, '14'),
        'line-height': map.get(typo.$opt-font-sizes, '20'),
        'font-weight': map.get(typo.$opt-font-weights, 'regular'),
        'letter-spacing': map.get(typo.$opt-font-spacing, 'normal'),
    ),
    'body-title-4': (
        'font-family': map.get(typo.$opt-font-families, 'primary'),
        'font-size': map.get(typo.$opt-font-sizes, '12'),
        'line-height': map.get(typo.$opt-font-sizes, '16'),
        'font-weight': map.get(typo.$opt-font-weights, 'regular'),
        'letter-spacing': map.get(typo.$opt-font-spacing, 'normal'),
    ),
    'caption': (
        'font-family': map.get(typo.$opt-font-families, 'primary'),
        'font-size': map.get(typo.$opt-font-sizes, '12'),
        'line-height': map.get(typo.$opt-font-sizes, '18'),
        'font-weight': map.get(typo.$opt-font-weights, 'medium'),
        'letter-spacing': map.get(typo.$opt-font-spacing, 'normal'),
    ),
    'overline': (
        'font-family': map.get(typo.$opt-font-families, 'primary'),
        'font-size': map.get(typo.$opt-font-sizes, '12'),
        'line-height': map.get(typo.$opt-font-sizes, '18'),
        'font-weight': map.get(typo.$opt-font-weights, 'medium'),
        'letter-spacing': map.get(typo.$opt-font-spacing, 'normal'),
    ),
    'button-l': (
        'font-family': map.get(typo.$opt-font-families, 'primary'),
        'font-size': map.get(typo.$opt-font-sizes, '18'),
        'line-height': map.get(typo.$opt-font-sizes, '24'),
        'font-weight': map.get(typo.$opt-font-weights, 'semi-bold'),
        'letter-spacing': map.get(typo.$opt-font-spacing, 'normal'),
    ),
    'button-m': (
        'font-family': map.get(typo.$opt-font-families, 'primary'),
        'font-size': map.get(typo.$opt-font-sizes, '16'),
        'line-height': map.get(typo.$opt-font-sizes, '22'),
        'font-weight': map.get(typo.$opt-font-weights, 'semi-bold'),
        'letter-spacing': map.get(typo.$opt-font-spacing, 'normal'),
    ),
    'button-s': (
        'font-family': map.get(typo.$opt-font-families, 'primary'),
        'font-size': map.get(typo.$opt-font-sizes, '14'),
        'line-height': map.get(typo.$opt-font-sizes, '18'),
        'font-weight': map.get(typo.$opt-font-weights, 'semi-bold'),
        'letter-spacing': map.get(typo.$opt-font-spacing, 'normal'),
    )
);
// -----------------------------------------------------------
// OPT TYPOGRAPHY DESKTOP STYLES
// -----------------------------------------------------------
$typography-desktop-styles: (
    'headlines-super-h1': (
        'font-family': map.get(typo.$opt-font-families, 'primary'),
        'font-size': map.get(typo.$opt-font-sizes, '196'),
        'line-height': map.get(typo.$opt-font-sizes, '176'),
        'font-weight': map.get(typo.$opt-font-weights, 'black'),
        'letter-spacing': map.get(typo.$opt-font-spacing, 'tight'),
    ),
    'headlines-super-h2': (
        'font-family': map.get(typo.$opt-font-families, 'primary'),
        'font-size': map.get(typo.$opt-font-sizes, '138'),
        'line-height': map.get(typo.$opt-font-sizes, '122'),
        'font-weight': map.get(typo.$opt-font-weights, 'black'),
        'letter-spacing': map.get(typo.$opt-font-spacing, 'tight'),
    ),
    'headlines-super-h3': (
        'font-family': map.get(typo.$opt-font-families, 'primary'),
        'font-size': map.get(typo.$opt-font-sizes, '96'),
        'line-height': map.get(typo.$opt-font-sizes, '86'),
        'font-weight': map.get(typo.$opt-font-weights, 'black'),
        'letter-spacing': map.get(typo.$opt-font-spacing, 'tight'),
    ),
    'headlines-regular-h1': (
        'font-family': map.get(typo.$opt-font-families, 'primary'),
        'font-size': map.get(typo.$opt-font-sizes, '96'),
        'line-height': map.get(typo.$opt-font-sizes, '134'),
        'font-weight': map.get(typo.$opt-font-weights, 'bold'),
         'letter-spacing': map.get(typo.$opt-font-spacing, 'normal'),
    ),
    'headlines-regular-h2': (
        'font-family': map.get(typo.$opt-font-families, 'primary'),
        'font-size': map.get(typo.$opt-font-sizes, '68'),
        'line-height': map.get(typo.$opt-font-sizes, '94'),
        'font-weight': map.get(typo.$opt-font-weights, 'bold'),
         'letter-spacing': map.get(typo.$opt-font-spacing, 'normal'),
    ),
    'headlines-regular-h3': (
        'font-family': map.get(typo.$opt-font-families, 'primary'),
        'font-size': map.get(typo.$opt-font-sizes, '48'),
        'line-height': map.get(typo.$opt-font-sizes, '66'),
        'font-weight': map.get(typo.$opt-font-weights, 'bold'),
        'letter-spacing': map.get(typo.$opt-font-spacing, 'normal'),
    ),
    'headlines-regular-h4': (
        'font-family': map.get(typo.$opt-font-families, 'primary'),
        'font-size': map.get(typo.$opt-font-sizes, '32'),
        'line-height': map.get(typo.$opt-font-sizes, '48'),
        'font-weight': map.get(typo.$opt-font-weights, 'bold'),
        'letter-spacing': map.get(typo.$opt-font-spacing, 'normal'),
    ),
    'headlines-regular-h5': (
        'font-family': map.get(typo.$opt-font-families, 'primary'),
        'font-size': map.get(typo.$opt-font-sizes, '22'),
        'line-height': map.get(typo.$opt-font-sizes, '32'),
        'font-weight': map.get(typo.$opt-font-weights, 'bold'),
        'letter-spacing': map.get(typo.$opt-font-spacing, 'normal'),
    ),
    'headlines-regular-h6': (
        'font-family': map.get(typo.$opt-font-families, 'primary'),
        'font-size': map.get(typo.$opt-font-sizes, '16'),
        'line-height': map.get(typo.$opt-font-sizes, '22'),
        'font-weight': map.get(typo.$opt-font-weights, 'bold'),
        'letter-spacing': map.get(typo.$opt-font-spacing, 'normal'),
    ),'subtitle-content-subtitle-1': (
        'font-family': map.get(typo.$opt-font-families, 'secondary'),
        'font-size': map.get(typo.$opt-font-sizes, '68'),
        'line-height': map.get(typo.$opt-font-sizes, '74'),
        'font-weight': map.get(typo.$opt-font-weights, 'semi-bold'),
        'letter-spacing': map.get(typo.$opt-font-spacing, 'normal'),
    ),
    'subtitle-content-subtitle-2': (
        'font-family': map.get(typo.$opt-font-families, 'secondary'),
        'font-size': map.get(typo.$opt-font-sizes, '48'),
        'line-height': map.get(typo.$opt-font-sizes, '52'),
        'font-weight': map.get(typo.$opt-font-weights, 'semi-bold'),
        'letter-spacing': map.get(typo.$opt-font-spacing, 'normal'),
    ),
    'subtitle-content-subtitle-3': (
        'font-family': map.get(typo.$opt-font-families, 'secondary'),
        'font-size': map.get(typo.$opt-font-sizes, '34'),
        'line-height': map.get(typo.$opt-font-sizes, '36'),
        'font-weight': map.get(typo.$opt-font-weights, 'semi-bold'),
        'letter-spacing': map.get(typo.$opt-font-spacing, 'normal'),
    ),'subtitle-title-subtitle-1': (
        'font-family': map.get(typo.$opt-font-families, 'primary'),
        'font-size': map.get(typo.$opt-font-sizes, '68'),
        'line-height': map.get(typo.$opt-font-sizes, '74'),
        'font-weight': map.get(typo.$opt-font-weights, 'semi-bold'),
        'letter-spacing': map.get(typo.$opt-font-spacing, 'normal'),
    ),
    'subtitle-title-subtitle-2': (
        'font-family': map.get(typo.$opt-font-families, 'primary'),
        'font-size': map.get(typo.$opt-font-sizes, '48'),
        'line-height': map.get(typo.$opt-font-sizes, '52'),
        'font-weight': map.get(typo.$opt-font-weights, 'semi-bold'),
        'letter-spacing': map.get(typo.$opt-font-spacing, 'normal'),
    ),
    'subtitle-title-subtitle-3': (
        'font-family': map.get(typo.$opt-font-families, 'primary'),
        'font-size': map.get(typo.$opt-font-sizes, '34'),
        'line-height': map.get(typo.$opt-font-sizes, '36'),
        'font-weight': map.get(typo.$opt-font-weights, 'semi-bold'),
        'letter-spacing': map.get(typo.$opt-font-spacing, 'normal'),
    ),
    'subtitle-title-subtitle-4': (
        'font-family': map.get(typo.$opt-font-families, 'primary'),
        'font-size': map.get(typo.$opt-font-sizes, '24'),
        'line-height': map.get(typo.$opt-font-sizes, '26'),
        'font-weight': map.get(typo.$opt-font-weights, 'semi-bold'),
        'letter-spacing': map.get(typo.$opt-font-spacing, 'normal'),
    ),
    'body-content-body-1': (
        'font-family': map.get(typo.$opt-font-families, 'secondary'),
        'font-size': map.get(typo.$opt-font-sizes, '34'),
        'line-height': map.get(typo.$opt-font-sizes, '44'),
        'font-weight': map.get(typo.$opt-font-weights, 'regular'),
        'letter-spacing': map.get(typo.$opt-font-spacing, 'normal'),
    ),
    'body-content-body-2': (
        'font-family': map.get(typo.$opt-font-families, 'secondary'),
        'font-size': map.get(typo.$opt-font-sizes, '24'),
        'line-height': map.get(typo.$opt-font-sizes, '32'),
        'font-weight': map.get(typo.$opt-font-weights, 'regular'),
        'letter-spacing': map.get(typo.$opt-font-spacing, 'normal'),
    ),
    'body-content-body-3': (
        'font-family': map.get(typo.$opt-font-families, 'secondary'),
        'font-size': map.get(typo.$opt-font-sizes, '16'),
        'line-height': map.get(typo.$opt-font-sizes, '22'),
        'font-weight': map.get(typo.$opt-font-weights, 'regular'),
        'letter-spacing': map.get(typo.$opt-font-spacing, 'normal'),
    ),
    'body-title-body-1': (
        'font-family': map.get(typo.$opt-font-families, 'primary'),
        'font-size': map.get(typo.$opt-font-sizes, '34'),
        'line-height': map.get(typo.$opt-font-sizes, '44'),
        'font-weight': map.get(typo.$opt-font-weights, 'regular'),
        'letter-spacing': map.get(typo.$opt-font-spacing, 'normal'),
    ),
    'body-title-body-2': (
        'font-family': map.get(typo.$opt-font-families, 'primary'),
        'font-size': map.get(typo.$opt-font-sizes, '24'),
        'line-height': map.get(typo.$opt-font-sizes, '32'),
        'font-weight': map.get(typo.$opt-font-weights, 'regular'),
        'letter-spacing': map.get(typo.$opt-font-spacing, 'normal'),
    ),
    'body-title-body-3': (
        'font-family': map.get(typo.$opt-font-families, 'primary'),
        'font-size': map.get(typo.$opt-font-sizes, '16'),
        'line-height': map.get(typo.$opt-font-sizes, '22'),
        'font-weight': map.get(typo.$opt-font-weights, 'regular'),
        'letter-spacing': map.get(typo.$opt-font-spacing, 'normal'),
    ),
    'body-title-4': (
        'font-family': map.get(typo.$opt-font-families, 'primary'),
        'font-size': map.get(typo.$opt-font-sizes, '14'),
        'line-height': map.get(typo.$opt-font-sizes, '20'),
        'font-weight': map.get(typo.$opt-font-weights, 'regular'),
        'letter-spacing': map.get(typo.$opt-font-spacing, 'normal'),
    ),
    'caption': (
        'font-family': map.get(typo.$opt-font-families, 'primary'),
        'font-size': map.get(typo.$opt-font-sizes, '14'),
        'line-height': map.get(typo.$opt-font-sizes, '20'),
        'font-weight': map.get(typo.$opt-font-weights, 'medium'),
        'letter-spacing': map.get(typo.$opt-font-spacing, 'normal'),
    ),
    'overline': (
        'font-family': map.get(typo.$opt-font-families, 'primary'),
        'font-size': map.get(typo.$opt-font-sizes, '14'),
        'line-height': map.get(typo.$opt-font-sizes, '20'),
        'font-weight': map.get(typo.$opt-font-weights, 'medium'),
        'letter-spacing': map.get(typo.$opt-font-spacing, 'normal'),
    ),
    'button-l': (
        'font-family': map.get(typo.$opt-font-families, 'primary'),
        'font-size': map.get(typo.$opt-font-sizes, '20'),
        'line-height': map.get(typo.$opt-font-sizes, '28'),
        'font-weight': map.get(typo.$opt-font-weights, 'semi-bold'),
        'letter-spacing': map.get(typo.$opt-font-spacing, 'normal'),
    ),
    'button-m': (
        'font-family': map.get(typo.$opt-font-families, 'primary'),
        'font-size': map.get(typo.$opt-font-sizes, '18'),
        'line-height': map.get(typo.$opt-font-sizes, '24'),
        'font-weight': map.get(typo.$opt-font-weights, 'semi-bold'),
        'letter-spacing': map.get(typo.$opt-font-spacing, 'normal'),
    ),
    'button-s': (
        'font-family': map.get(typo.$opt-font-families, 'primary'),
        'font-size': map.get(typo.$opt-font-sizes, '16'),
        'line-height': map.get(typo.$opt-font-sizes, '22'),
        'font-weight': map.get(typo.$opt-font-weights, 'semi-bold'),
        'letter-spacing': map.get(typo.$opt-font-spacing, 'normal'),
    )
);