// -----------------------------------------------------------
// DEPENDENCIAS
// -----------------------------------------------------------
@use 'sass:map';

// -----------------------------------------------------------
// OPT BREAKING POINTS
// -----------------------------------------------------------
$opt-breakpoints: (
  mobile: 480px,
  tablet: 768px,
  laptop: 1024px,
  desktop: 1366px,
  wide: 1920px
);

// -----------------------------------------------------------
// OPT COLUMNS
// -----------------------------------------------------------
$opt-columns: (
  mobile: 2,
  tablet: 8,
  laptop: 12,
  desktop: 16,
  wide: 16
);

// -----------------------------------------------------------
// OPT GUTTERS
// -----------------------------------------------------------
$opt-gutters: (
  mobile: 16px,
  tablet: 8px,
  laptop: 24px,
  desktop: 12px
);