<!DOCTYPE html>
<html lang="es" dir="ltr">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="icon" type="image/x-icon" href="../../assets/images/web_images/branding/favicon_io/favicon.ico">
        
        <title>Molecule Link Nav | Component</title>
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        <link rel="stylesheet" href="../../scss/styles.css">
    </head>

    <body>

        <!-- Componente molecule-link-nav -->
        <nav class="molecule-link-nav" aria-label="Navegación principal">
            <ul>
                <li>
                    <a  href="#" 
                        class="atom-link-nav">
                        Artículos
                    </a>
                </li>
                <li>
                    <a  href="#" 
                        class="atom-link-nav">
                        Entrevistas
                    </a>
                </li>
                <li>
                    <a  href="#" 
                        class="atom-link-nav">
                        Podcast
                    </a>
                </li>
                <li>
                    <a  href="#" 
                        class="atom-link-nav">
                        Sobre mi
                    </a>
                </li>
            </ul>
            <!-- Componente atom-button-base Small -->
            <button class="btn btn--nav">Contacto</button>
            <!-- FIN Componente atom-button-base Small -->
        </nav>
        <!-- FIN Componente molecule-link-nav -->

    </body>
</html>