<!DOCTYPE html>
<html lang="es" dir="ltr">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="icon" type="image/x-icon" href="../../assets/images/web_images/branding/favicon_io/favicon.ico">
        
        <title>Atom Button Base | Component</title>
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        <link rel="stylesheet" href="../../scss/styles.css">
    </head>

    <body>

        <!-- Componente atom-button-base Small -->
         <a href="#" class="btn btn--nav">Small Nav Button</a>
        <!-- FIN Componente atom-button-base Small -->

    </body>
</html>