<!DOCTYPE html>
<html lang="es" dir="ltr">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="icon" type="image/x-icon" href="../../assets/images/web_images/branding/favicon_io/favicon.ico">
        
        <title>Atom Link Nav | Component</title>
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        <link rel="stylesheet" href="../../scss/styles.css">
    </head>

    <body>

        <!-- Componente atom-link-nav -->
        <a  href="#" 
            class="atom-link-nav">
            Link Text
        </a>
        <!-- FIN Componente atom-link-nav -->

        <!-- Componente atom-link-nav en el estado Active -->
        <a  href="#" 
            class="atom-link-nav
                   atom-link-nav--active">
            Link Text Active State
        </a>
        <!-- FIN Componente atom-link-nav en el estado Active -->
        
        <!-- Componente atom-link-nav  en el estado Disabled -->
        <a  href="#" 
            class="atom-link-nav
                   atom-link-nav--disabled">
            Link Text Disabled State
        </a>
        <!-- FIN Componente atom-link-nav  en el estado Disabled -->

    </body>
</html>