<!DOCTYPE html>
<html lang="es" dir="ltr">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="icon" type="image/x-icon" href="../../assets/images/web_images/branding/favicon_io/favicon.ico">
        
        <title>atom-lang-nav | Component</title>
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        <link rel="stylesheet" href="../../scss/styles.css">
    </head>

    <body>
                
        <!-- Componente atom-lang-nav -->
        <nav class="atom-lang-nav atom-lang-nav--eng" aria-label="Selección de idioma">
             <a  href="#" hreflang="en">En.</a>
        </nav>
        <!-- FIN Componente atom-lang-nav -->
    
    </body>
</html>