<!DOCTYPE html>
<html lang="es" dir="ltr">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="icon" type="image/x-icon" href="../../assets/images/web_images/branding/favicon_io/favicon.ico">
        
        <title>atom-logo-nav | Component</title>
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        <link rel="stylesheet" href="../../scss/styles.css">
    </head>

    <body>    
        
        <article class="molecule-card
                        molecule-card--bg 
                        molecule-card--rectangle-vertical">

            <!-- Componente atom-pill-card -->
                <div class="molecule-pill-card">
                    <p class="atom-pill-card--base">
                        <span class="material-icons">arrow_outward</span>
                    </p>

                    <p class="atom-pill-card--hover">
                        <span atom-pill--text">Article</span>
                        <span class="material-icons">arrow_forward</span>
                    </p>
                </div>
                <!-- /. Componente atom-pill-card -->

        </article>

        <article class="molecule-card
                        molecule-card--bg 
                        molecule-card--rectangle-vertical">

            <!-- Componente atom-pill-card -->
            <div class="molecule-pill-card">
                <p class="atom-pill-card--base">
                    <span class="material-icons">arrow_outward</span>
                </p>

                <p class="atom-pill-card--hover">
                    <span atom-pill--text">Article</span>
                    <span class="material-icons">arrow_forward</span>
                </p>
            </div>
            <!-- /. Componente atom-pill-card -->

        </article>

    </body>
</html>