
// -----------------------------------------------------------
// ESTADOS
// -----------------------------------------------------------

.molecule-card--bg {

    .atom-pill-card {
        background-color: aqua;
        border-radius: 250px;
        padding: 12px 30px;
    }

}