// -----------------------------------------------------------
// DEPENDENCIAS
// -----------------------------------------------------------
@use 'sass:map';
@use '../../2-tools/functions' as func;
@use '../../2-tools/mixins' as mix;
@use '../../1-settings/options' as mapOpt;
@use '../../1-settings/opt-colors' as colorMap;
@use '../../1-settings/opt-typography' as typoMap;
@use '../../1-settings/opt-breakpoints' as break;

// -----------------------------------------------------------
// COMPONENTE MOLECULE LINK NAV
// -----------------------------------------------------------
.molecule-link-nav {

    // Estilos visuales
    display: none; // Se oculta en móvil cerrado
    align-items: center;
    justify-content: flex-end; /* Alinea todo el bloque a la derecha */
    
    ul {
        //list-style: none;
        //list-style-type: none;      /* Refuerzo para Safari para eliminar biñeta */
        margin: map.get(mapOpt.$opt-dimensions, 0);
        padding: map.get(mapOpt.$opt-dimensions, 0);
        width: 100%;


        li {
            list-style: none;       /* Forzamos también en el hijo */
            list-style-type: none;  /* Refuerzo para Safari para eliminar biñeta */
            border-bottom: map.get(mapOpt.$opt-dimensions, 10) solid map.get(colorMap.$opt-colors, 'neutral', '500');
            width: 100%;
      
            &:last-child {
                border-bottom: none;
            }
        }
    }

    // --- TABLET ---
    @media (min-width: map.get(break.$opt-breakpoints, tablet)) {
        
        display: flex;
        gap: map.get(mapOpt.$opt-dimensions, 20);
        width: inherit;

        ul {
            display: flex;
            flex-direction: row;
            //overflow-x: auto;                   // Si no caben, permiten scroll lateral
            -webkit-overflow-scrolling: touch;  // Suavidad en iPhone
            gap: map.get(mapOpt.$opt-dimensions, 20);
            white-space: nowrap;

            li {
                border-bottom: none;
                display: flex;
                align-items: center;
                margin: 0;
            }
        }
    }
    // --- LAPTOP ---
    @media (min-width: map.get(break.$opt-breakpoints, laptop)) {

        gap: map.get(mapOpt.$opt-dimensions, 30);

        ul {
            gap: map.get(mapOpt.$opt-dimensions, 30);
        }
    }

    // --- DESKTOP ---
    @media (min-width: map.get(break.$opt-breakpoints, desktop)) {

        gap: map.get(mapOpt.$opt-dimensions, 40);

        ul {
            gap: map.get(mapOpt.$opt-dimensions, 40);
        }
    }
}